<% content_for :all_class_list do %>
  <%= link_to 'All Class List', years_path %>
<% end %>
<% content_for :class_list do %>
  <%= link_to 'Add new student', new_year_student_path(@year) %>
<% end %>

<div class="col-md-10 col-md-offset-1">
  <h3>Class <%= @year.number %> <i class="fa fa-angle-double-right"></i> Students List</h3>
  <hr>
  <table class="table table-bordered table-striped">
    <thead>
      <th width="10%">number</th>
      <th width="40%">name</th>
      <th width="20%">learning state</th>
    </thead>
  <% @year.students.each do |student| %>
    <tbody>
      <td><%= student.number %></td>
      <td><%= student.name %></td>
      <td><%= link_to 'report', year_student_states_path(@year, student) %></td>
    </tbody>
  <% end %>
  </table>
</div>