<div>
  <h3>Class <%= @year.number %> Students List</h3>
  <ul >
    <li><%= link_to 'new student', new_year_student_path(@year) %></li>
    <li><%= link_to 'back', years_path %></li>
  </ul>
  <hr>
  <table>
    <thead>
      <th>number</th>
      <th>name</th>
      <th>learning state</th>
    </thead>
  <% @year.students.each do |student| %>
    <tbody>
      <td><%= student.number %></td>
      <td><%= student.name %></td>
      <td><%= link_to 'report', year_student_states_path(@year, student) %></td>
    </tbody>
  <% end %>
  </table>
</div>