<% content_for :back_class do %>
  <%= link_to 'Back to Class', year_students_path(@year) %>
<% end %>
<%= content_for :add_score do %>
  <%= link_to 'Add new result', new_year_student_state_result_path(@year, @student, @state) %>
<% end %>

<div class="col-md-8 col-md-offset-1">
  <h3>Class <%= @year.number %> <i class="fa fa-angle-double-right"></i> <%= @student.name %> <i class="fa fa-angle-double-right"></i> Learning Results</h3>
  <hr>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
      <th>科目</th>
      <th>分數</th>
      </tr>
    </thead>
    <% @state.results.each do |result| %>
      <tbody>
        <tr>
          <td><%= result.subject %></td>
          <td><%= result.score %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>