<% content_for :all_class_list do %>
  <%= link_to 'All Class List', years_path %>
<% end %>
<% content_for :new_post do %>
  <%= link_to 'New Post', new_admin_post_path %>
<% end %>

<div class="row col-md-offset-1 col-md-8">
  <h3>Bulletin Board</h3>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th width="30%">Post created time</th>
        <th width="20%">Post creator</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= link_to post.title, post_path(post) %></td>
          <td><%= post.created_at.to_s(:long) %></td>
          <td><%= post.creator.name %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>