<!DOCTYPE html>
<html>
  <head>
    <title>Grade</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render 'shared/navbar' %>
      <div class="col-md-1">        
        <ul class="nav nav-pills nav-stacked" style="max-width: 200px;">
          <% if logged_in? && current_user.admin? %>          
            <li><%= link_to 'All Posts', posts_path %></li>
            <li><%= link_to 'New Post', new_post_path %></li>      
            <li><%= yield :new_class %></li>
            <li><%= yield :class_list %></li>
            <li><%= yield :edit_post %></li>
            <li><%= yield :delete_post %></li>
          <% elsif logged_in? %>
            <li><%= yield :all_class_list %></li>          
            <li><%= yield :back_class %></li>
            <li><%= yield :back_state %></li>
            <li><%= yield :add_score %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-10 col-md-offset-1">
        <div class="row col-md-8">
          <%= notice_message %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
